<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaforg">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>


<form th:method="POST" th:action="@{/}" th:object="${user}">
    <label for="name">Ваше имя: </label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <br/>
    <label for="lastName">Ваша фамилия: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="age">Возраст: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="Регистрация"/>
</form>




</body>
</html>
